@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

nav {
    background-color: var(--navigation-background-color);
    font-size: 1.2rem;
    display: flex;
    padding: 10px;
}

nav a {
    background-color: var(--navigation-link-color);
    display: block;
    text-decoration: none;
    padding: 10px;
}

nav a:link, nav a:visited {
    color: var(--navigation-background-color);
}

nav a:hover {
    color: var(--navigation-hover-color);
    background-color: var(--navigation-hover-background);
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    padding: 25px;
}

body {
    font-family: Roboto;
    max-width: 960px;
    padding: 20px;
    background-color: rgb(92, 140, 140);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Rock Salt';
}

header {
    background-color: var(--accent1-color);
    padding: 20px;
}

:root {
    --primary-color: #5f1f04;               /* Main color */
    --secondary-color: #bfae48;             /* Secondary color */
    --accent1-color: #39146339;             /* Accent color 1 */
    --accent2-color: #3a0842;               /* Accent color 2 */
    --heading-font: 'Rock Salt', serif;     /* Font for headings */
    --paragraph-font: 'Roboto', serif;      /* Font for paragraphs */
    --nav-background-color: rgb(4, 85, 118);          /* Navigation background color */
    --nav-link-color: rgb(219, 200, 94);               /* Navigation link color */
    --nav-hover-link-color: #670909;                   /* Navigation link color on hover */
    --nav-hover-background-color: #676767;             /* Navigation background color on hover */
}


