@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Oswald&display=swap');

:root {
    --primary-color: #008000;
    --secondary-color: #007BFF;
    --accent1-color: #F57C00;
    --accent2-color: #6DB65B;
    --nav-background-color: var(--accent2-color);
    --nav-link-color: #fff;
    --nav-hover-link-color: #F57C00;
    --nav-hover-background-color: #FFD700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    justify-items: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    text-align: center;
    color: #000;
}


.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
}

body {
    font-family: var(--paragraph-font);
    display: block;
}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #484029;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 1280px;
    margin: auto;
}

.logo {
    grid-column: 2 / 4;
    width: 100px;
    height: auto;
}

.links {
    grid-column: 5 / 11;
}

main {
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.hero {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1;
}

.hero-header {
    color: white;
    grid-column: 1/ 13;
    grid-row: 1;
}

.hero-background {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column: 1 / 13;
    grid-row: 1;
}

.display-box {
    background-color: rgba(255, 255, 255, .35);
    position: absolute;
    top: 225px;
    width: 600px;
    left: 50%;
    text-align: center;
    margin: 1.5rem;
}

.hero-img {
    display: block;
    float: right;
    margin: 1.5rem;
    width: 240px;
    height: 160px;
}

.cta-section {
    display: grid;
}

.cta-back-img {
    width: 100%;
    grid-column: 1/-1;
}

.cta-link {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid #333;
    box-shadow: 10px 10px 5px #333;
    padding: 1em;
    border-radius: 10px;
    width: fit-content;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
}

.cta-link:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.cta:active {
    background-color: var(--accent1-color);
    color: #000;
}

.trip1 {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 10px;
    background-color: transparent;
}

.trip2 {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 10px;
    background-color: transparent;
}

.trip3 {
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 10px;
    background-color: transparent;
}

.trip1 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.trip2 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.trip3 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem;
}


.trip-info {
    background-color: #eee;
    padding: 10px;
    border-radius: 0.5rem;
}

.trip-info img {
    grid-column: 2;
}

.cta-art {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

nav {
    display: flex;
    justify-self: center;
}

nav a {
    font-family: var(--heading-font);
    color: #fff;
    text-decoration: none;
    padding: 2rem;
    margin-left: 1rem;
}

.history {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;
    align-items: center;
}

.history-header {
    grid-column: 2 / 3;
    margin-bottom: 1rem;
}

.history img {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    border: 1px solid #333;
}

.contact-form {
    grid-row: 5;
    display: block;
}

.contact-info {
    display: grid;
    grid-column: 2/13;
    text-align: center;
    justify-content: center;
    grid-row: 2;
    padding: 7rem;
}

.company-info {
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1
}

.iframe {
    grid-column: 1;
    grid-row: 2;
}

.employee-profiles {
    grid-row: 4;
    display: block;
}

.profiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.left {
    grid-column: 1;
    grid-row: 2;
}

.right {
    grid-column: 3;
    grid-row: 2;
}

p {
    font-family: var(--paragraph-font);
    font-size: large;
    color: #000;
    padding-left: 1rem;
    padding-right: 1rem;
}

.register {
    font-weight: 900;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 10px;
    padding: 1rem;
    max-width: 1280px;
    margin: auto;
    grid-auto-rows: minmax(100px, auto);
}

.adventures figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventures img {
    width: 100%;
    height: auto;
}

.adventures figcaption {
    text-align: center;
}


.adventures h2 {
    grid-row: 1;
    grid-column: 1/-1;
    text-align: center;
}



form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.packages {
    display: grid;
}

table {
    grid-row: 5;
    width: 1280px;
    border-collapse: collapse;
    border: 2px solid #000;
    background-color: var(--accent2-color);
    font-family: 'Arvo';
    font-size: 3rem;
    letter-spacing: 5px;
}

caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: var(--primary-color);
}

th,
td {
    font-family: 'Oswald';
    border: 1px solid #000;
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: var(--nav-hover-background-color);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--primary-color);
    outline: none;
}

/* INDEX/HOME Page */

.index-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.index-headline {
    position: absolute;
    margin: 100px;
}

.index-headline h1 {
    color: white;
    font-size: 5em;
    text-shadow: 2px 2px #000;
}

.index-header-img {
    width: 1280px;
    height: 700px;
    grid-column: 1/-1;
}

.index-art {
    position: relative;
    top: -350%;
    left: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.index-button {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid #333;
    box-shadow: 10px 10px 5px #333;
    padding: 1em;
    border-radius: 10px;
    width: fit-content;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
}

.index-button:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.index-button:active {
    background-color: var(--accent1-color);
    color: #000;
}

.teamwork-skills {
    display: grid;
    grid-column: 2/5;
    border: 10px solid #000;;
    box-shadow: 5px 5px 10px #6f7364;
    align-self: center;
}

.camping-skills {
    display: grid;
    grid-column: 9/13;
    border: 10px solid #000;;
    box-shadow: 5px 5px 10px #6f7364;
    align-self: center;
}

.skills-img {
    width: 100%;
    height: auto;
    max-width: 100%;
}


.newsletter {
    background-color: var(--accent2-color);
    display: grid;
    grid-column: 5/9;
}

footer {
    max-width: 1280px;
    margin: auto;
    position: sticky;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #484029;
}

footer p {
    color: white;
    grid-column: 1 / 5;
}

.sociallinks {
    grid-column: 9 / 12;
}

.sociallinks img {
    width: 2rem;

}

@media (max-width: 768px) {}