/* Importing Google Fonts: Arvo and Oswald */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Oswald&display=swap');

/* Defining root-level CSS variables for consistent color theming */
:root {
    --primary-color: #4d4c49; 
    --secondary-color: #484029; 
    --accent1-color: #484029;
    --accent2-color: #37471e;
    --nav-background-color: var(--accent2-color);
    --nav-link-color: #fff;
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: #fff;

    /* Night for hover Background*/
    --heading-font: 'Arvolo', 'sans-serif';
    --paragraph-font: 'Oswald', 'sans-serif';
}


/* Styling for headings, using Oswald font */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Header styling with padding and background color */
header {
    padding: 20px;
    background-color: var(--accent1-color);
    color: #fff;
}

/* Style for h1 within header */
header h1 {
    color: #fff;
    }

/*main{
    text-align: center;
}*/

main img {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    
}

/* Paragraph styling with padding and Arvo font */
p {
    padding: 25px;
    font-family: var(--paragraph-font);  
}

/* Global body styling with font, max-width, padding, and background color */
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    color: var(--primary-color);
    margin: 0 auto;
}

/* Navigation bar styling */
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

/* Navigation link styling */
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

/* Navigation link hover effects */
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}