@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    align-items: center;
}

/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; 
} */

nav {
    background-color: rgb(14, 46, 72);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    padding: .5rem;
    color: rgb(14, 46, 72);
    margin: 1rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif; 
    margin-bottom: 1em;
    border-bottom: 5px solid black; 
    text-align: center  
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;
}

body {
    font-size: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

main {    
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20em;    
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
    display: block; /* Ensures margin: auto works */
    margin: 0 auto; /* Center the image horizontally */
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 110px;
}

footer {
    margin-top: 1em;
    border-top: 5px solid black;
    text-align: center;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}


/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #E0FFFF;
    color: #050422;
}

.indent {
    padding-left: 2rem;
}